{#
/**
 * @file
 * Default theme implementation to format the simplenews newsletter body.
 *
 * Copy this file in your theme directory to create a custom themed body.
 * Rename it to override it. Available templates:
 *   simplenews-newsletter-body--[newsletter_id].html.twig
 *   simplenews-newsletter-body--[view mode].html.twig
 *   simplenews-newsletter-body--[newsletter_id]--[view mode].html.twig
 * See README.txt for more details.
 *
 * Available variables:
 * - build: Render array. Use {{ build }} to print it.
 * - node: object(Drupal\node\Entity\Node)
 *   The node entity with limited access to object properties and methods.
 *   * Methods: Only "getter" methods (method names starting with "get", "has", or "is")
 *     and a few common methods such as "id" and "label" are available.
 *     {{ node.getTitle }} : the Node title ( == {{ title }} )
 *     Calling other methods (such as node.delete) will result in an exception.
 *   * Properties: field values can be accessed as follows:
 *     {{ node.body.value | raw }} : text of body field
 * - newsletter: object(Drupal\simplenews\Entity\Newsletter)
 *     {{ newsletter.from_name }}: string
 *     {{ newsletter.subject }}: string
 * - title: Node title
 * - view_mode: The active display view mode of the node
 * - key: email key [node|test]
 * - format: newsletter format [plain|html]
 * - simplenews_subscriber: object(Drupal\simplenews\Entity\Subscriber)
 *   The subscriber for which the newsletter is built.
 *     {{ simplenews_subscriber.getMail  }}: string: subscriber's email address
 *   Note that depending on the used caching strategy, the generated body might
 *   be used for multiple subscribers. If you created personalized newsletters
 *   and can't use tokens for that, make sure to disable caching or write a
 *   custom caching strategy implemention.
 *
 * @see template_preprocess_simplenews_newsletter_body()
 */
#}

<h2>{{ title }}</h2>
{{ build }}

{% if not opt_out_hidden %}
    {% if format == 'html' %}
        <p class="newsletter-footer"><a
                    href="[simplenews-subscriber:unsubscribe-url]">{{ unsubscribe_text }}</a>
        </p>
    {% else %}
        -- {{ unsubscribe_text }} : [simplenews-subscriber:unsubscribe-url]
    {% endif %}
{% endif %}

{% if key == 'test' %}
    - - - {{ test_message }} - - -
{% endif %}

<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% if css %}
      <style type="text/css">
        body {
          background: #f1f1f1;
          padding: 20px;
        }
        .message-body {
          background: white;
          border-radius: 10px;
          padding: 20px;
        }
      </style>
      {% endif %}
  </head>
  <body id="mimemail-by" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="center">
      <div id="main">
     <div style="background: -moz-linear-gradient(315deg, #70f0b6 14%, #8ed06e 82%);
background: -webkit-gradient(linear, 315deg, color-stop(14%, #70f0b6), color-stop(82%, #8ed06e));
background: -webkit-linear-gradient(315deg, #70f0b6 14%, #8ed06e 82%);
background: -o-linear-gradient(315deg, #70f0b6 14%, #8ed06e 82%);
background: -ms-linear-gradient(315deg, #70f0b6 14%, #8ed06e 82%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70f0b6', endColorstr='#8ed06e', GradientType='1');
background: linear-gradient(135deg, #70f0b6 14%, #8ed06e 82%);padding: 40px;"><h3 style="font-size: 46px; color: white; font-weight: bold; text-align: center; margin: 0; line-height: 1;"> Welcome to Barbet! </h3>
     <h4 style="font-size: 28px; font-weight: 300; text-align: center; color: white; margin: 10px 0 0;">Sit, relax and let the tweets post on its own.</h4></div>
      <div class="message-body" style="background: url('mail-bg.png') repeat 0 0 #f1f1f1; padding: 40px; font-size: 16px;"><div style="background: white; padding: 20px; border-radius: 16px;box-shadow: 0px 0px 15px -5px #333;width: 600px; margin: 0 auto; color: #666; font-family: verdana;">
      <!-- You have successfully Signed up with Barbet App. Kindly login to the app
     and connect with your twitter Details to start using Barbet. -->
       {{ body|raw }}</div>
       <!-- <div style="font-size: 22px;">Follow us on</div>  -->
       </div>
       <div style="background: -moz-linear-gradient(305deg, #9c57b6 0%, #483f99 100%);
background: -webkit-gradient(linear, 305deg, color-stop(0%, #9c57b6), color-stop(100%, #483f99));
background: -webkit-linear-gradient(305deg, #9c57b6 0%, #483f99 100%);
background: -o-linear-gradient(305deg, #9c57b6 0%, #483f99 100%);
background: -ms-linear-gradient(305deg, #9c57b6 0%, #483f99 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c57b6', endColorstr='#483f99', GradientType='1');
background: linear-gradient(145deg, #9c57b6 0%, #483f99 100%); font-size: 14px; font-weight: 300; color: white; padding: 30px 50px 60px; text-align: center;">
  <div style="text-align: center;">
  <ul style="display: flex; flex-flow: row wrap; list-style-type: none; padding: 0; width: 346px;
    margin: 0 auto;">
      <li style="margin-left: 0; margin-right: 15px;"><a href="#" style="color: white; text-decoration: none;">Privacy Policy</a></li>
      &#8226;
      <li style="margin-right: 15px;"><a href="#" style="color: white; text-decoration: none;">Terms &amp; Conditions</a></li>
      &#8226;
      <li><a href="#" style="color: white; text-decoration: none;">Contact us</a></li>
    </ul>
    <div style="text-align: center; margin: 30px 0; line-height: 1.5;">
    Sent with ♥ from BARBET | Powered by <a href="https://www.srijan.net" style="color: #f2a428; text-decoration: none;">Srijan Technologies</a><br>
    © 2017 | All rights reserved
    </div>
    <div style="font-size: 11px">Don’t want to recieve emails, <a href="[simplenews-subscriber:subscribe-url]" style="color: white;">Unsubscribe here</a></div>
  </div>
</div>
      </div>
    </div>
  </body>
</html>
